{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center;">Suivre d'autres utilisateurs</h1>
    <form method="GET" class="following-container" action="{% url 'search' %}">
        <div class="search-user-container">
            <div class="field-container">
                <label class="visually-hidden" for="id_username"></label>
                <input type="text" id="id_username"
                       name="username" class="search-input" placeholder="Nom d'utilisateur"/>
            </div>
            <button type="submit" style="align-self: flex-end; margin-left: auto"
                    class="submit-button" id="search-btn">Envoyer
            </button>
        </div>
    </form>
    <h1 style="text-align: center; margin-top: 3rem;">Abonnements</h1>
    <div class="following-container">
        {% for follow in following_usernames %}
            <div class="following-grid">
                <div>{{ follow }}</div>
                <div style="display:flex; justify-content: center">
                    <form method="post" action="{% url 'unfollow' follow %}">
                        {% csrf_token %}
                        <button type="submit" class="submit-button">
                            Désabonner
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1 style="text-align: center; margin-top: 3rem;">Abonnés</h1>
    <div class="following-container">
        {% for follower in followers %}
            <div class="follower">
                <div>{{ follower }}</div>
            </div>
        {% endfor %}
    </div>
    <script>
    window.addEventListener('pageshow', (event) => {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>
{% endblock content %}