{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    <div class="home-create-buttons">
        <a href="{% url 'ticket_create' %}" class="link-as-button">Demander une critique</a>
        <a href="{% url 'review_create' %}" class="link-as-button">Créer une critique</a>
    </div>
    {% for instance in page_obj %}
        <div class="post-container" style="{% if forloop.last %}margin-bottom: 2rem;
            border-bottom: 1px solid black;{% endif %}">
            {% if instance|model_type == 'Review' %}
                {% include 'review/partials/posts_review.html' with review=instance %}
            {% elif instance|model_type == 'Ticket' %}
                {% include 'review/partials/posts_ticket.html' with ticket=instance %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}