{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    <div class="home-create-buttons">
        <a href="{% url 'ticket_create' %}" class="link-as-button">Demander une critique</a>
        <a href="{% url 'review_create' %}" class="link-as-button">Créer une critique</a>
    </div>
    {% for instance in page_obj %}
        <div class="post-container" style="margin-bottom: 1rem;border-bottom: 1px solid black;">
            <div class="ticket-preview">
                {% if instance|model_type == 'Review' %}
                    {% include 'review/partials/review-view.html' with review=instance %}
                {% elif instance|model_type == 'Ticket' %}
                    {% include 'review/partials/ticket-view.html' with ticket=instance %}
                    {% if instance.has_no_review %}
                        <a href="{% url 'review_answer_create' instance.id %}"
                           style="align-self: flex-end;margin-bottom: 1rem"
                           class="link-as-button">Créer une critique</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% include 'review/partials/pagination_snippet.html' %}
{% endblock content %}