{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    <h2 style="text-align: center; margin-bottom: 3rem;">Vos posts</h2>
    {% for instance in page_obj %}
        <div class="post-container" style="{% if forloop.last %}margin-bottom: 2rem;
            border-bottom: 1px solid black;{% endif %}">
            {% if instance|model_type == 'Review' %}
                {% include 'review/partials/posts_review.html' with review=instance %}
            {% elif instance|model_type == 'Ticket' %}
                {% include 'review/partials/posts_ticket.html' with ticket=instance %}
            {% endif %}
        </div>
    {% endfor %}
    {% include 'review/partials/pagination_snippet.html' %}
{% endblock content %}