.header-container {
    display: flex;
    flex: 1;
    justify-content: end;
    background-color: darkgray;
    align-items: center;
    position: relative;
    height: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

.site-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-nav {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    align-items: center;
    height: 3rem;
}

.site-nav a {
    color: black;
    text-decoration: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-nav a:hover {
    background-color:navajowhite;
    border: none;
    border-radius: 10px;
}

.site-nav button {
    margin-right: 15px;
    cursor: pointer;
}

button {
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color:navajowhite;
}

.login-container {
    display: flex;
    margin-top: 7rem;
    justify-content: space-between;
}

.login-signup {
    padding-left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-login {
    padding-right: 35%;
}

.link-as-button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    margin-right: 10px;
    background-color: buttonface;
    text-decoration: none;
    color: black;
}

.link-as-button:hover {
    background-color:navajowhite;
}

.link-as-button:visited {
    text-decoration: none;
    color: inherit;
}

.input {
    border: 1px solid;
    width: 15rem;
}

.group {
    position: relative;
    margin-top: 1rem;
}

/*.group .error-list:not(:empty) ~ .input {*/
/*    margin-bottom: 0;*/
/*}*/

.login-login button {
    padding: 10px;
    align-self: flex-end;
}

.form {
    display: flex;
    flex-direction: column;
}

.group>label {
  padding:0 0.2em;
  position:absolute;
  top:-0.5em;
  left:1em;
  background-color:white;
}
.group>input{
  padding:0.8em;
  outline:none;
}

.signup-title {
    text-align: center;
    margin-top: 6rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.signup-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.signup-buttons button {
    width: 8rem;
    margin-top: 1rem;
}

.signup-buttons a {
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    width: 8rem;
    margin-top: 1rem;
    background-color: buttonface;
    text-decoration: none;
    color: black;
    text-align: center;
}

.signup-buttons a:hover {
    background-color:navajowhite;
}

.error-list {
    list-style-type: none;
    color: red;
    margin-left: 5px;
    max-width: 15rem;
}

li {
    margin: 5px 0;
}

.input-title {
    border: 1px solid;
    margin-top: 1rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 5px;
}

.image-download-button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    margin-right: 10px;
    background-color: buttonface;
    text-decoration: none;
    color: black;
    align-self: flex-start;
}

.image-download-button:hover {
    background-color:navajowhite;
}

.submit-button {
    min-width: 8rem;
    margin-top: 1rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.text-area-ticket {
    resize: none;
    font-size: 1.2rem;
    padding: 5px 0 0 5px;
}

.radio-control {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    font-size: 1.2rem;
}

.review-border {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.ticket-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ticket-preview img {
    max-width: fit-content;
    max-height: 300px;
    padding-left: 1rem;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
    border: 1px solid black;
}

.ticket-preview-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0 1rem 1rem 0;
}