<div class="ticket-preview">
    <div class="form" style="min-width: 30%">
        {% include 'review/partials/ticket-view.html' %}
        <div class="ticket-preview-buttons">
            <a href="{% url 'ticket_edit' ticket.id %}" class="link-as-button link-edit">Modifier</a>
            <form method="post" action="{% url 'ticket_delete' ticket.id %}">
                {% csrf_token %}
                <button type="submit" class="submit-button"
                        onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce ticket ?');">
                    Supprimer
                </button>
            </form>
        </div>
    </div>
</div>
