<label style="font-size: xx-large; margin: 2rem 0">{{ widget.attrs.title }}</label>
<div class="radio-control">
    {% for group, options, index in widget.optgroups %}
        {% for option in options %}
            <input type="{{ option.type }}" name="{{ option.name }}" id="rating_{{ option.value }}"
                   value="{{ option.value }}" {% if option.selected %}checked="checked"{% endif %}>
            <label for="rating_{{ option.value }}" style="margin-right:2rem;margin-left: 0.8rem">{{ option.label }}</label>
        {% endfor %}
    {% endfor %}
</div>
