<label style="font-size: xx-large; margin: 1rem 0">{{ widget.attrs.title }}</label>
<div style="width: 100%; max-width: 400px; max-height: 400px; padding-bottom: 5px;">
    <img src="{{ widget.value.url }}" alt="ticket-image-preview" id="image_dl" width="auto" height="100%">
</div>
<label for="id_{{ widget.name }}" class="image-download-button" role="button" aria-label="Télécharger fichier"
       tabindex="0">Télécharger fichier</label>
<input type="file" id="id_{{ widget.name }}"
       name="{{ widget.name }}" style="display: none">

<!-- Use to display the selected file name under the download button
    and the image above it -->
<script>
    let fileInput = document.getElementById('id_{{ widget.name }}');
    const image = document.getElementById('image_dl');

    if (fileInput) {
        fileInput.addEventListener('change', function () {
            const selectedFile = fileInput.files[0];
            if (selectedFile) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    if (image) {
                        image.src = e.target.result;
                    }                };
                reader.readAsDataURL(selectedFile);
            } else {
            }
        });
    }
</script>