<label style="font-size: xx-large; margin: 1rem 0">{{ widget.attrs.placeholder }}</label>
<label for="id_{{ widget.name }}" class="image-download-button">Télécharger fichier</label>
<input type="file" id="id_{{ widget.name }}"
       name="{{ widget.name }}" style="display: none" class="image-download-button">
<p id="fileName" style="margin-top: 3px">Fichier sélectionné :</p>

  <script>
    const fileInput = document.getElementById('id_{{ widget.name }}');
    const fileName = document.getElementById('fileName');

    fileInput.addEventListener('change', function() {
      const selectedFile = fileInput.files[0];
      if (selectedFile) {
        fileName.textContent = `Fichier sélectionné : ${selectedFile.name}`;
      } else {
        fileName.textContent = 'Fichier sélectionné :';
      }
    });
  </script>