<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LITRevu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/input.css' %}" type="text/css">
</head>
<header>
    <div class="header-container">
        <h2 class="site-title">LITRevu</h2>
        {% if request.user.is_authenticated %}
            <nav class="site-nav">
                <a href="{% url 'home' %}"> Flux</a>
                <a href=""> Posts</a>
                <a href=""> Abonnements</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Se déconnecter</button>
                </form>
            </nav>
            </div>
        {% endif %}
</header>
<body>
{% block content %}{% endblock content %}
</body>
</html>